<table cellpadding="0" cellspacing="10" width="100%">

	<!-- IMAGES FOR ROW 1 -->
	<tr align="left">
		<td valign="bottom" width="25%">
			<a href="userpro">
			<%= image_tag("l1.png" ) %></a>
		</td>
		<td valign="bottom" width="25%">
			<a href="userpro" >
			<%= image_tag("l2.png") %></a>
		</td>
		<td valign="bottom" width="25%">
			<a  href="userpro">
			<%= image_tag("l3.png" ) %></a>
		</td>
		<td valign="bottom" width="25%">
			<a href="userpro" >
			<%= image_tag("l4.png" ) %></a>
		</td>
	</tr>
	<!-- CAPTIONS FOR ROW 1 -->
	

</table>