<table cellpadding="0" cellspacing="10" width="100%">

	<!-- IMAGES FOR ROW 1 -->
	<tr align="left">
		<td valign="bottom" width="25%">
			<a href="http://www.google.com">
			<%= image_tag("c1.jpg" ) %></a>
		</td>
		<td valign="bottom" width="25%">
			<a >
			<%= image_tag("c2.jpg") %></a>
		</td>
		<td valign="bottom" width="25%">
			<a >
			<%= image_tag("c3.jpg" ) %></a>
		</td>
		<td valign="bottom" width="25%">
			<a >
			<%= image_tag("c4.jpg" ) %></a>
		</td>
	</tr>
	<!-- CAPTIONS FOR ROW 1 -->
	

</table>