<h1>sign in to enter</h1></br>
<h3>Sign up for new registration </h3>
<table cellpadding="0" cellspacing="10" width="100%">

	<!-- IMAGES FOR ROW 1 -->
	<tr align="left">
		
		<td valign="bottom" width="30%">
			<a >
			<%= image_tag("mainimage1.jpeg") %></a>
		</td>
		
	</tr>
	<!-- CAPTIONS FOR ROW 1 -->
	

</table>